<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pathfinder | Classes | Billing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">

 <div class="col-xs-6 col-sm-offset-3">
<h2>Pathfinder Classes Student Mangement System</h2>
</div>
</div>
<form method="POST" action="/reg">
  <div class="form-group row">
  <div class="col-xs-6 col-sm-offset-3">
  
    <input type="text" class="form-control" name="firstname" placeholder="Enter Firstname">
	<br>
    <input type="text" class="form-control"name="lastname" placeholder="Enter lastname">
	<br>
    <input type="text" class="form-control" name="middlename" placeholder="Enter Middle Name">
	<br>
	<input type="text" class="form-control" name="addr" placeholder="Enter Address">
	<br>
	<input type="text" class="form-control" name="school" placeholder="Enter School">
	<br>
	<input type="text" class="form-control" name="fname" placeholder="Enter Guardian's Name">
	<br>
	<input type="tel" class="form-control"id="phone" name="phone"placeholder="Enter 10 digit Guardian's Number" pattern="[0-9]{10}"required />
	<br>
	<input type="number" class="form-control" name="class" placeholder="Enter Class">
	<br>
	<input type="text" class="form-control" name="batch" placeholder="Enter Batch">
	<br>
	<input type="date"class="form-control" name="dateAdd"placeholder="Enter the date of Birth">
	<br>
	<label><input type="radio" class="form-control" name="optradio" value="General">General Category</label>
	<label><input type="radio" class="form-control" name="optradio" value="NotGeneral">Reserved Category</label>
	<br>
	
  <button type="submit" class="form-control btn btn-primary">Submit</button>
  </div>
  </div>
</form>


</body>
</html>