
{% extends "layout.html" %}
{% block title %} Pathfinder | Invoice Record{% endblock %}
{% block body %}
<div class="row">

 <div class="col-xs-6 col-sm-offset-3">
<h2>Invoice</h2>
</div>
</div>
<form method="POST" action="/pay">
  <div class="form-group row">
  <div class="col-xs-6 col-sm-offset-3">
  
    <input type="text" class="form-control" name="firstname" placeholder="Enter Firstname">
	<br>
    <input type="text" class="form-control"name="lastname" placeholder="Enter lastname">
	<br>
	 <input type="date"class="form-control" name="dob"placeholder="dob">
	<br>
	<input type="number"class="form-control" name="invoice"placeholder="amount">
	<br>
	<input type="number"class="form-control" name="phone"placeholder="phone">
	<br>
	<br>

	
  <button type="submit" class="form-control btn btn-primary">Submit</button>
  </div>
  </div>
</form>
{% endblock %}
