<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pathfinder | Invoice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">

 <div class="col-xs-6 col-sm-offset-3">
<h2>Invoice</h2>
</div>
</div>
<form method="POST" action="/pay">
  <div class="form-group row">
  <div class="col-xs-6 col-sm-offset-3">
  
    <input type="text" class="form-control" name="firstname" placeholder="Enter Firstname">
	<br>
    <input type="text" class="form-control"name="lastname" placeholder="Enter lastname">
	<br>
	 <input type="date"class="form-control" name="dob"placeholder="dob"label="DOB">
	<br>
	<input type="number"class="form-control" name="invoice"placeholder="amount">
	<br>
	<input type="number"class="form-control" name="phone"placeholder="phone">
	<br>
	<br>

	
  <button type="submit" class="form-control btn btn-primary">Submit</button>
  </div>
  </div>
</form>
</body>
</html>