{% extends "layout.html" %}
{% block title %} Pathfinder | All Student Records{% endblock %}
{% block body %}

<table class="table" id="tb1">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Phone</th>
	  <th scope="col">AddDate</th>
	  <th scope="col">Address</th>
      <th scope="col">School</th>
      <th scope="col">Category</th>
      <th scope="col">Batch</th>
	  <th scope="col">Class</th>
    </tr>
  </thead>
  <tbody>
   {% for itr in stu %}
   
   <tr>
   
      <td>{{itr.id}}</td> <td>{{itr.firstname}}</td> <td>{{itr.lastname}} </td> <td>{{itr.phone}} </td> <td> {{itr.dateAdd}} </td>
	  <td> {{itr.addr}} </td> <td>{{itr.school}}</td><td>{{itr.optradio}}</td> <td>{{itr.batch}}</td> <td>{{itr.class}}</td>
	</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}